services:
  scanpi:
    container_name: scanpi
    build: .
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./scans:/mnt/scan
      - /etc/sane.d:/etc/sane.d:ro
      - /usr/share/sane:/usr/share/sane:ro
      - /mnt/consume:/mnt/consume
    environment:
      - SANED_NET_HOSTS=localhost
      - SOURCES=Single-sided,Duplex
      - MODES=Lineart,Gray,Color
      - RESOLUTIONS=150,300,600
      - SCAN_DIRECTORY=/mnt/scan
      - PAPERLESS_CONSUME_DIR=/mnt/consume
